body{
    background: linear-gradient(270deg, red, blue, green);
  background-size: 600% 600%;
  animation: gradient-move 15s ease infinite;
    color: white;
}

.para1{
    display: flex;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: fade-in 3s linear forwards;
}

.ball1{
    display: inline-flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aqua;
    transform: translateY(0);
    animation: bounce 0.5s ease-in-out infinite alternate;
   
}

.side-bar {
    display: flex;
    border: solid white;
    height: calc(100vh * 0.5);
    width: calc(100vw * 0.2);
    background-color: aliceblue;
    transform: translateX(-100%);
    color: black;
    transition: transform 0.5s ease-in-out;
  }

.menu-close{
    display: flex;
}

.task4{
    display: flex;
}

.btn1{
    display: flex;
    align-items: center;
    width:max-content ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation: pulsebtn 0.5s ease-in-out infinite alternate;
}

.side-bar.show {
    transform: translateX(0);
    
  }
  
  .side-bar.hide {
    transform: translateX(-100%);
  }

  .cycle-text {
    font-size: 32px;
    font-weight: bold;
    animation: color-cycle 6s ease-in-out infinite;
  }
  
  @keyframes color-cycle {
    0% {
      color: red;
    }
    25% {
      color: blue;
    }
    50% {
      color: green;
    }
    75% {
      color: purple;
    }
    100% {
      color: red;
    }
  }


@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes bounce{
    0%, 100%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-100px);
    }
}

.bounce-animation {
    animation: bounce 0.5s ease-in-out forwards;
  }

  @keyframes slide-bar{
    0%{
        transform : translateX(-100%)
    }

    100%{
        transform: translateX(0%);
    }
  }

  @keyframes pulsebtn{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);
    }
  }

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

